.booking-interface-calendar
  .pmu-years,
  .pmu-months,
  .pmu-month,
  .pmu-day-of-week
    display: none

  .pmu-instance
    width: 100%
    height: auto
    padding: 40px 0

  .pmu-view-days
    margin-left: -7px

  .pmu-days
    @extend %clearfix

  .pmu-prev, .pmu-next
    position: absolute
    left: 8px
    right: 8px
    height: 25px
    border-bottom: 1px solid #e3e3e3
    background-color: #ffffff
    cursor: pointer
    transition: background-color .1s, box-shadow .1s

    &:before
      position: absolute
      content: ''
      left: 50%
      top: 50%
      margin-top: -3px
      margin-left: -6px
      width: 0
      height: 0
      border-style: solid
      border-width: 6px 6px 0 6px
      border-color: #91844a transparent transparent transparent

    &:hover
      background-color: #e5e5e5

    &:active
      box-shadow: inset 0 1px 1px 1px rgba(darken(#e5e5e5, 10%), 1)

  .pmu-prev
    top: 0
    border-radius: 3px 3px 0 0

    &:before
      border-width: 0 6px 6px 6px
      border-color: transparent transparent #91844a transparent

  .pmu-next
    bottom: 0
    border-radius: 0 0 3px 3px

.booking-interface-calendar__inner-wrapper
  display: flex

.booking-interface-calendar__item
  float: left

  &:nth-child(7n+1)
    clear: left
