.booking-interface-top-panel
  min-width: $outer-container-width
  height: 48px
  position: fixed
  top: 114px
  left: 0
  right: 0
  z-index: 2
  padding: 10px 0
  border-bottom: 1px solid #cac8c6
  background-color: #f2f0ee
  box-shadow: inset 0 -1px 1px 1px rgba(#cac8c6, .2)
