.booking-interface-calendar-days-months
  min-width: $outer-container-width
  position: fixed
  top: 162px
  left: 0
  right: 0
  z-index: 2
  background-color: #e5e5e5
  border-bottom: 1px solid #ffffff

.booking-interface-calendar-days-months__wrapper
  @extend %clearfix

.booking-interface-calendar-days-months__day-title
  float: left
  width: 88px
  height: 25px
  line-height: 25px
  text-align: center
  text-transform: uppercase
  color: #626262
  margin-left: 14px
  font-size: 12px

  &:first-child
    margin-left: 0

.booking-interface-calendar-days-months__month-title
  padding-left: 35px
  text-transform: uppercase
  height: 25px
  line-height: 25px
  color: #626262
  font-size: 12px
