.calendar-cell
  font-family: $helvetica_neue_cyr_ultralight
  position: relative
  width: 88px
  height: 88px
  background-color: #f6f6f6
  font-size: 50px
  text-align: center
  padding: 4px
  margin: 7px
  cursor: pointer
  line-height: 50px
  transition: box-shadow .2s

  &:hover
    box-shadow: 0 0 0 1px #d9d8d7

  &.pmu-selected
    color: #ffffff
    background-color: #5e5553

  &.pmu-today, &.pmu-today:hover
    box-shadow: 0 0 0 4px #d9d8d7

  &.pmu-disabled
    color: #dbdbdb
    background-color: #f6f6f6
    cursor: default

    &:hover
      box-shadow: none

    &:before
      content: 'N/A'
      height: 25px
      line-height: 25px
      position: absolute
      right: 0
      left: 0
      bottom: 0
      font-size: 12px
      text-align: right
      padding: 0 4px
      color: #d0d0d0
      font-weight: bold
      background-color: #f8f8f8

.calendar-cell__price
  font-family: $helvetica_neue_cyr_bold
  height: 25px
  line-height: 25px
  color: #dfb235
  position: absolute
  right: 0
  left: 0
  bottom: 0
  font-size: 14px
  text-align: right
  padding: 0 4px
  transition: background-color .1s

  .calendar-cell.pmu-selected &
    background-color: #504744
