.footer
  min-width: $outer-container-width
  height: 80px
  background-color: #413b39
  padding: 20px 0
  color: #ffffff
  position: fixed
  bottom: 0
  left: 0
  right: 0
  z-index: 2

.footer__wrapper
  width: $inner-container-width
  margin: 0 auto
  display: flex
  align-items: center
  justify-content: space-between

.footer__special-offer,
.footer__selected-dates,
.footer__nav-links
  flex-basis: 33%

.footer__special-offer
  font-size: 18px

.footer__special-offer-after
  margin-bottom: 3px

.footer__special-offer-after-price
  color: #dfb235
  font-weight: bold

.footer__special-offer-before
  font-size: 14px
  color: #7d7a77

.footer__selected-dates
  flex-basis: 34%
  font-size: 18px

.footer__selected-dates-container
  margin-bottom: 3px

.footer__selected-dates-comment
  font-size: 14px
  color: #7d7a77
