.footer-nav-links
  color: #ffffff
  font-size: 14px
  font-weight: bold

.footer-nav-links__link
  padding: 0 20px
  height: 28px
  line-height: 26px
  text-decoration: none
  color: #ffffff

  &.-reset
    @extend %ghost-button
    float: left

  &.-forward
    @extend %gold-button
    float: right
