.header
  min-width: $outer-container-width
  height: 114px
  background-color: #000000
  position: fixed
  top: 0
  left: 0
  right: 0
  padding: 10px 0
  z-index: 2

.header__wrapper
  width: $inner-container-width
  height: 94px
  position: relative
  margin: 0 auto

.header__logo
  position: absolute
  left: 0
  top: 0

.header__logo-image
  width: 94px
  height: 94px
  vertical-align: top

.header__currency-language-controls
  position: absolute
  right: 0
  top: 0

.header__menu
  position: absolute
  right: 0
  bottom: 0
