.header-menu__item
  display: inline-block
  margin-left: 20px
  text-transform: uppercase
  color: #ffffff
  font-size: 13px
  font-family: $helvetica_neue_cyr_bold
  text-decoration: none
  border-bottom: 1px solid transparent
  transition: border-bottom-color .15s

  &:first-child
    margin-left: 0

  &:hover
    border-bottom-color: #ffffff
