.months-selector-item
  position: relative
  padding-left: 35px

  &.-state-selected
    font-family: $helvetica_neue_cyr_bold

    &:before
      position: absolute
      content: ''
      left: 0
      top: 50%
      margin-top: -7px
      width: 0
      height: 0
      border-style: solid
      border-width: 7px 0 7px 7px
      border-color: transparent transparent transparent #756151

.months-selector-item__trigger
  @extend %pseudo-link

  .months-selector-item.-state-selected &
    border-bottom-color: transparent

  .months-selector-item.-state-disabled &
    color: #dbdbdb
    border-bottom-color: transparent
    cursor: default
