.select2-container
  &.-theme-dark
    @extend %select2

    background-image: linear-gradient(to bottom, #505050, #3f3f3f)
    border: 1px solid #3f3f3f

    .select2-choice
      color: #ffffff

      .select2-arrow
        border-left: 1px solid #404040

        &:before
          border-color: #ffffff transparent transparent transparent

    &.select2-dropdown-open
      background: #505050

      .select2-choice
        .select2-arrow
          &:before
            border-width: 0 4px 4px 4px
            border-color: transparent transparent #ffffff transparent
      
  &.-theme-light
    @extend %select2

    background-color: #fff
    border: 1px solid #d3d3d3

    .select2-choice
      color: #000000

      .select2-arrow
        border-left: 1px solid #d3d3d3

        &:before
          border-color: #979797 transparent transparent transparent

    &.select2-dropdown-open
      .select2-choice
        .select2-arrow
          &:before
            border-width: 0 4px 4px 4px
            border-color: transparent transparent #979797 transparent

.select2-drop
  &.-theme-dark
    @extend %select2-dropdown

    &.select2-drop
      background-color: #3f3f3f

    .select2-result
      color: #ffffff

      &:hover, &.select2-highlighted
        background-color: lighten(#3f3f3f, 10%)

  &.-theme-light
    @extend %select2-dropdown

    &.select2-drop
      background-color: #fff
      border: 1px solid #979797

    .select2-result
      color: #353535

      &:hover, &.select2-highlighted
        background-color: darken(#ffffff, 10%)
