.top-panel-controls
  @extend %clearfix
  width: $inner-container-width
  margin: 0 auto

.top-panel-controls__input-wrapper
  float: left
  margin-left: 10px
  padding-left: 30px
  background-position: left center
  background-repeat: no-repeat

  &.-rooms
    background-image: url('../img/rooms-icon.png')
    margin-left: -30px

  &.-adults
    background-image: url('../img/adults-icon.png')

  &.-children
    background-image: url('../img/children-icon.png')

.top-panel-controls__special-offers-trigger
  @extend %pseudo-link
  float: right
  color: #756151
  cursor: pointer
  border-bottom: 1px dashed #756151
  height: 26px
  line-height: 26px
  font-family: $helvetica_neue_cyr_bold
