doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="description" content="Test assignment for CloudCastle")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

        link(href="./css/application.css" type="text/css" rel="stylesheet")

        title Cloud Castle: booking test

    body
        header.header
            .header__wrapper
                a.header__logo(href="#")
                    img.header__logo-image(src="./img/header-logo.png")
                .header__currency-language-controls
                    select.js-header-currency-control
                        option RUB
                        option USD
                        option EUR
                    select.js-header-language-control
                        option English
                        option Russian
                        option Francais

                nav.header__menu.header-menu
                    a.header-menu__item(href="#") Specials & offers
                    a.header-menu__item(href="#") Hotel details
                    a.header-menu__item(href="#") Map
                    a.header-menu__item(href="#") Photos

        main.main
            .booking-interface
                .booking-interface__top-panel.booking-interface-top-panel
                    .booking-interface-top-panel__controls.top-panel-controls
                        .top-panel-controls__input-wrapper.-rooms
                            select(name="rooms").js-booking-interface-rooms-control
                                option(value="1") 1 room
                                option(value="2") 2 rooms
                                option(value="3") 3 rooms
                                option(value="4") 4 rooms
                        .top-panel-controls__input-wrapper.-adults
                            select(name="adults").js-booking-interface-adults-control
                                option(value="1") 1 adult
                                option(value="2") 2 adults
                                option(value="3") 3 adults
                        .top-panel-controls__input-wrapper.-children
                            select(name="children").js-booking-interface-children-control
                                option(value="0") No children
                                option(value="1") 1 child
                                option(value="2") 2 children
                                option(value="3") 3 children

                        span.top-panel-controls__special-offers-trigger Special Offers & Programs

                .booking-interface__calendar.booking-interface-calendar
                    .booking-interface-calendar-days-months
                        .booking-interface-calendar-days-months__wrapper.l-positioner
                            .booking-interface-calendar-days-months__days-titles.l-left-col
                                .booking-interface-calendar-days-months__day-title Sun
                                .booking-interface-calendar-days-months__day-title Mon
                                .booking-interface-calendar-days-months__day-title Tue
                                .booking-interface-calendar-days-months__day-title Wed
                                .booking-interface-calendar-days-months__day-title Thu
                                .booking-interface-calendar-days-months__day-title Fri
                                .booking-interface-calendar-days-months__day-title Sat
                            .booking-interface-calendar-days-months__month-title.l-right-col Month

                    .booking-interface-calendar__inner-wrapper.l-positioner
                        .booking-interface__calendar.js-booking-interface-calendar

                        .main__months-selector.months-selector
                            .months-selector__item.months-selector-item.-state-selected
                                span.months-selector-item__trigger.js-month-selector-change-trigger(data-month-to-skip="0") November 2015
                            .months-selector__item.months-selector-item
                                span.months-selector-item__trigger.js-month-selector-change-trigger(data-month-to-skip="1") December 2015
                            .months-selector__item.months-selector-item
                                span.months-selector-item__trigger.js-month-selector-change-trigger(data-month-to-skip="2") January 2016
                            .months-selector__item.months-selector-item
                                span.months-selector-item__trigger.js-month-selector-change-trigger(data-month-to-skip="3") February 2016
                            .months-selector__item.months-selector-item
                                span.months-selector-item__trigger.js-month-selector-change-trigger(data-month-to-skip="4") March 2016
                            .months-selector__item.months-selector-item
                                span.months-selector-item__trigger.js-month-selector-change-trigger(data-month-to-skip="5") April 2016
                            .months-selector__item.months-selector-item
                                span.months-selector-item__trigger.js-month-selector-change-trigger(data-month-to-skip="6") May 2016
                            .months-selector__item.months-selector-item.-state-disabled
                                span.months-selector-item__trigger.js-month-selector-change-trigger June 2016
                            .months-selector__item.months-selector-item.-state-disabled
                                span.months-selector-item__trigger.js-month-selector-change-trigger July 2016
                            .months-selector__item.months-selector-item.-state-disabled
                                span.months-selector-item__trigger.js-month-selector-change-trigger August 2016
                            .months-selector__item.months-selector-item.-state-disabled
                                span.months-selector-item__trigger.js-month-selector-change-trigger September 2016
                            .months-selector__item.months-selector-item.-state-disabled
                                span.months-selector-item__trigger.js-month-selector-change-trigger October 2016
                            .months-selector__item.months-selector-item.-state-disabled
                                span.months-selector-item__trigger.js-month-selector-change-trigger November 2016

        footer.footer
            .footer__wrapper
                .footer__special-offer
                    .footer__special-offer-after
                        | Book Now and Save!&nbsp;
                        span.footer__special-offer-after-price $1,150
                    .footer__special-offer-before Best Available Rate: $1,400

                .footer__selected-dates
                    .footer__selected-dates-container
                        span.js-selected-dates-start 8 November
                        | &nbsp;&mdash;&nbsp;
                        span.js-selected-dates-finish 10 November
                    .footer__selected-dates-comment Arrival / Departure:

                .footer__nav-links.footer-nav-links
                    button.footer-nav-links__link.-reset.js-calendar-reset(type='button') Reset
                    a.footer-nav-links__link.-forward.js-calendar-next(href="#") Select Room

        script(src="./js/application.js")
