@font-face
  font-family: 'helveticaneuecyrlight'
  src: url("../fonts/helveticaneuecyr-light-webfont.eot")
  src: url("../fonts/helveticaneuecyr-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-light-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr-light-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-light-webfont.ttf") format("truetype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'helveticaneuecyrthin'
  src: url("../fonts/helveticaneuecyr-thin-webfont.eot")
  src: url("../fonts/helveticaneuecyr-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-thin-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr-thin-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-thin-webfont.ttf") format("truetype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'helveticaneuecyrbold'
  src: url("../fonts/helveticaneuecyr-bold-webfont.eot")
  src: url("../fonts/helveticaneuecyr-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-bold-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr-bold-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-bold-webfont.ttf") format("truetype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'helveticaneuecyrlight_italic'
  src: url("../fonts/helveticaneuecyr-lightitalic-webfont.eot")
  src: url("../fonts/helveticaneuecyr-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-lightitalic-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr-lightitalic-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-lightitalic-webfont.ttf") format("truetype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'helveticaneuecyr-ultralight'
  src: url("../fonts/helveticaneuecyr-ultralight_0-webfont.eot")
  src: url("../fonts/helveticaneuecyr-ultralight_0-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-ultralight_0-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr-ultralight_0-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-ultralight_0-webfont.ttf") format("truetype")
  font-weight: normal
  font-style: normal
