*
  box-sizing: border-box

body
  font-size: 14px
  font-family: $helvetica_neue_cyr_light
  background-color: #f1f1f1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body, html
  height: 100%
  min-width: $outer-container-width

.l-positioner
  width: $inner-container-width
  margin: 0 auto

.l-left-col
  width: 700px
  float: left

.l-right-col
  width: 165px
  float: right

.main
  padding: 197px 0 90px
