%clearfix
  zoom: 1

  &:before, &:after
    content: "\0020"
    display: block
    height: 0
    overflow: hidden

  &:after
    clear: both

%pseudo-link
  color: #756151
  border-bottom: 1px dashed #756151
  cursor: pointer
  transition: border-bottom-color .15s

  &:hover
    border-bottom-color: transparent

%ghost-button
  border: 1px solid #9d8b6a
  background: transparent
  transition: background-color .1s, box-shadow .1s

  &:hover
    background-color: #9d8b6a

  &:active
    box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, .1)

%gold-button
  border: 1px solid #a3955b
  background-image: linear-gradient(to bottom, #b9a683, #907c5a)
  text-shadow: 2px 2px 1px #747778
  box-shadow: 0 2px 2px -2px rgba(#747778, .1)
  transition: background-image .1s, box-shadow .1s

  &:hover
    background-image: linear-gradient(to bottom, #b9a683, #b9a683)

  &:active
    box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, .1)

%select2
  min-width: 100px
  font-size: 13px

  .select2-choice
    height: 26px
    line-height: 26px
    background: none
    border: 0
    border-radius: 0
    box-shadow: none

    .select2-arrow
      background: none
      border-left: 1px solid #404040

      b
        background: none

      &:before
        position: absolute
        content: ''
        left: 4px
        top: 50%
        margin-top: -2px
        width: 0
        height: 0
        border-style: solid
        border-width: 4px 4px 0 4px

  &.select2-dropdown-open
    .select2-choice
      .select2-arrow
        &:before
          border-width: 0 4px 4px 4px

%select2-dropdown
  font-size: 13px

  &.select2-drop-active
    border: 0
    border-radius: 0

  .select2-results
    margin: 0
    padding: 0
